
/*  all            */
body{
    font-family: arial;
}

h1{
    color: teal;
}
/*  Products            */
table, tr,td,th {
    border: 1px solid black;
    border-collapse: collapse;
    width: auto;
    padding: 5px;
}
#button_add_product{
    margin: 5px;
}
/*     add product                             */
.productButton {
    display: inline;
}
.product label{
    
    font-size: 110%;
    vertical-align: top;
    width: 150px;
    float: left;
}
.product div{
    margin: 10px;
}

.product #buttons {
    margin: auto;
    /* align-items: center; */
    margin-left: 160px;
}
/*  delete confirm           */

.deleteButtons{
    width:75px;
    margin: 5px;
}


/*   sign up           */

#signup label{
    font-size: 110%;
    vertical-align: top;
    width: 150px;
    float: left;
}
#signup div{
    margin: 5px;
}

#signup input[type="submit" ]{
    margin-left: 19.5%;
}

/*   login            */

#login label{
    font-size: 110%;
    vertical-align: top;
    width: 150px;
    float: left;
}
#login div{
    margin: 5px;
}

#login input[type="submit" ]{
    margin-left: 20.5%;
}