table {
    border: 1px solid black;
    border-collapse: collapse;
}
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}
#heading {
    font-weight: bold;
}
#head {
    color: green;
}
#product {
    
    width:100px;
    text-align: left;
    margin-bottom: 30px;
    
}
#signup {
    display: inline-block;
    width: 250px;
    text-align: right;
}

#productButton {
    display: inline-block;
    text-align: left;
}

